:root{
  --grid-gap:3rem;
  --border-radius:0.6rem;
}

//HELPERS
.center_content{
  text-align:center;
}

.bg--dark{
  background:$primary;
  color:white;
  p{
    color:rgba(255,255,255,0.7);
  }
}
.bg--light{
  background:#f6f6f6 !important;
}



.br--1{
  border-radius:1rem;
}



.w--30{
  width:30%;
}
.w--40{
  width:40%;
}
.w--50{
  width:50%;
}
// MAX WIDTH
.max-w--1{
  max-width:80rem;
}
.max-w--2{
  max-width:70rem;
}
.max-w--3{
  max-width:50rem;
}
.max-w--4{
  max-width:32rem;
}
.max-w--5{
  max-width:24rem;
}
.max-w--6{
  max-width:18rem;
}

.no-select {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

// CONTAINERS
.container{
  position:relative;
  width:min(calc(100% - 8rem), 1300px);
  margin-inline:auto;
}
.container-med{
  position:relative;
  width:min(calc(100% - 8rem), 1080px);
  margin-inline:auto;
}
.container-small{
  position:relative;
  width:min(calc(100% - 8rem), 800px);
  margin-inline:auto;
}
.container-tiny{
  position:relative;
  width:min(calc(100% - 8rem), 480px);
  margin-inline:auto;
}

.container--form{
  position:relative;
  width:min(calc(100% - 8rem), 600px);
  margin-inline:auto;
}

// FLEX
.flex-row{
  display:flex;
  flex-direction:row;
  gap:80px;
  .col{
    flex-grow: 1;
  }
}
.flex-v{
    display:flex;
    align-items:center;
}
.flex-h{
    display:flex;
    justify-content:center;
}
.flex-all{
    display:flex;
    align-items:center;
    justify-content:center;
}
.flex-right{
  display:flex;
  justify-content: flex-end;
}
.flex-between{
  display:flex;
  justify-content: space-between;
}


.grid--2-col{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-gap--1{
  gap:max(12vh, 6rem);
}

.grid-align--right{
  grid-column-start: 2;
}
.grid-col--2{

}
.grid-col--3{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap:var(--grid-gap);
}
.grid-col--4{

}



/* —–––––––––––––––––––––––
Vertical Spacing
–––––––––––––––––––––––– */
:root{
  --v-space-1:18rem;
  --v-space-2:8rem;
  --v-space-3:6rem;
  --v-space-4:4rem;
  --v-space-5:2rem;
  --v-space-6:1rem;
}
// Padding block
.p-block--1{
  padding-block:var(--v-space-1);
}
.p-block--2{
  padding-block:var(--v-space-2);
}
.p-block--3{
  padding-block:var(--v-space-3);
}
.p-block--4{
  padding-block:var(--v-space-4);
}
.p-block--5{
  padding-block:var(--v-space-5);
}
.p-block--6{
  padding-block:var(--v-space-6);
}
// Margin block
.m-block--1{
  margin-block:var(--v-space-1);
}
.m-block--2{
  margin-block:var(--v-space-2);
}
.m-block--3{
  margin-block:var(--v-space-3);
}
.m-block--4{
  margin-block:var(--v-space-4);
}
.m-block--5{
  margin-block:var(--v-space-5);
}
.m-block--6{
  margin-block:var(--v-space-6);
}
// Pading top
.pt--1{
  padding-top:var(--v-space-1);
}
.pt--2{
  padding-top:var(--v-space-2);
}
.pt--3{
  padding-top:var(--v-space-3);
}
.pt--4{
  padding-top:var(--v-space-4);
}
.pt--5{
  padding-top:var(--v-space-5);
}
.pt--6{
  padding-top:var(--v-space-6);
}
// Margin top
.mt--1{
  margin-top:var(--v-space-1);
}
.mt--2{
  margin-top:var(--v-space-2);
}
.mt--3{
  margin-top:var(--v-space-3);
}
.mt--4{
  margin-top:var(--v-space-4);
}
.mt--5{
  margin-top:var(--v-space-5);
}
.mt--6{
  margin-top:var(--v-space-6);
}
// Pading bottom
.pb--1{
  padding-bottom:var(--v-space-1);
}
.pb--2{
  padding-bottom:var(--v-space-2);
}
.pb--3{
  padding-bottom:var(--v-space-3);
}
.pb--4{
  padding-bottom:var(--v-space-4);
}
.pb--5{
  padding-bottom:var(--v-space-5);
}
.pb--6{
  padding-bottom:var(--v-space-6);
}
// Margin bottom
.mb--1{
  margin-bottom:var(--v-space-1);
}
.mb--2{
  margin-bottom:var(--v-space-2);
}
.mb--3{
  margin-bottom:var(--v-space-3);
}
.mb--4{
  margin-bottom:var(--v-space-4);
}
.mb--5{
  margin-bottom:var(--v-space-5);
}
.mb--6{
  margin-bottom:var(--v-space-6);
}
