/* –––––––––––––––––––––––––––––––––––––––––––

TYPE

––––––––––––––––––––––––––––––––––––––––––– */
html{
  font-size:62.5%;
}
body{
  min-width:1280px;
  font-size:1.6rem;
  font-family:"Roboto", sans-serif;
  line-height:1.5;
  font-weight:300;
  color:$primary;
  background:$light_gray;
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
  overscroll-behavior-y: none;
}

.fs--xl{
  font-size:8rem;
  letter-spacing:-0.05em;
}
.fs--1{
  font-size:6.5rem;
  letter-spacing:-0.05em;
}
.fs--2{
  font-size:6rem;
}
.fs--3{
  font-size:4.5rem;
}
.fs--4{
  font-size:3rem;
}
.fs--5{
  font-size:2.2rem;
  line-height:1.25;
}
.fs--6{
  font-size:1.7rem;
  line-height:1.25;
}
.fs--7{
  font-size:1.4rem;
}
.fs--8{
  font-size:1.2rem;
}

h1,h2,h3,h4,h5{
  font-weight:700;
  line-height:1.1;
  letter-spacing:-0.036em;
}
p{
  margin-bottom:2rem;
  &:last-of-type{
    margin-bottom:0;
  }
}
strong{
  font-weight:700;
}

a{
  text-decoration:none;
}

b{
  font-family:"PT Serif";
  font-weight:900;
  font-style:italic;
}

.underline{
  position:relative;
  display:inline-block;
  &:after{
    content:"";
    z-index:-1;
    display:inline-block;
    position:absolute;
    left:0;
    width:0;
    height:0.3em;
    bottom:-0.025em;
    background:$blue_light;
    @include transition(width 0.8s 0.6s $easeOutExpo);
  }
}
