$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

$primary:#0c2d56; //132f50  172638
$secondary:#6a6a6a; //748190
$red:#d54545; //cf3d3d  1c83fc 
$blue:#0c2d56;//053a7d
$blue_light:#388ff2;
$blue_light--2:#e4f0ff;
$blue_dark:#0e2239; //172638
$blue_border:#404b57;

$light_gray:#f9f9f9;


